html{
    height: 100%;
}
body{
    background-color: rgba(0, 0, 0, 0.61);
    background-image: url(front-view-tasty-fruit-plate-grapes-with-wine-bottle-cheese-fruits-glass-dark-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
header{
    height: 118px;
   
    text-align: center;
}
nav{
    height: 40px;
    background-color:rgba(0, 0, 0, 0.027); 
    text-align: center;
    padding: auto;
}
nav a{
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 10px;
    padding-right:10px ;
}
main{
   
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
}
.maps{
    padding-top: 70px;
    text-align: center;
    padding-bottom: 100px;
}
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:rgba(0, 0, 0, 0.158);
}
footer p {
    color:white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
   
}
h1{
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
